.img{
    align-content: left;
   }

   .div h1{
    font-style: initial;
   }
   .img8{
    width: 500px;
    height: 300px;
   }
   .img7{
    width: 700px;
    height: 500px;
   }
   #num{
    text-align: right;
    color: rgb(49, 105, 209);
    font-size: 100px;
   }
   .img5{
    width: 400px;
    height: 400px;
    align-items: end;
   }