
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.img{
    align-content: left;
   }

   .div h1{
    font-style: initial;
   }
   .img8{
    width: 500px;
    height: 300px;
   }
   .img7{
    width: 700px;
    height: 500px;
   }
   #num{
    text-align: center;
    color: rgb(49, 105, 209);
    font-size: 100px;
    font-family: "Archivo Black", sans-serif;
    /*text-emphasis-style: ;*/
   }
   #topic{
    font-size: 50px;
    font-family: "Archivo Black", sans-serif;
   }
   .img5{
    width: 300px;
    height: 300px;
    margin: center 1%;
   }
   .imgH{
    width: 700px;
    height: 600px;
   }
   #h4{
    color: rgb(255, 255, 255);
   }
   #par{
    text-align: center;
   }
   .footer{
    text-align :center;
   }